    Django==1.6.1
    django-jenkins
    django-socketio==0.3.8
    gevent==0.13.6
    gevent-socketio==0.2.1
    gevent-websocket==0.2.3
    greenlet==0.4.5
    mongoengine
    Pillow>=2.0.0
	coverage==3.5
	html5lib>=0.90
	httplib2==0.7.6
	nose==1.0.0
	pyPdf2==1.19
	reportlab==2.5
