<html>
	<head>
		<title>Register</title>
		<meta charset="UTF-8">

		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/login.css">

	</head>
	<body >
		<div class='greenElements'>
		  		
		  	<h1>Register</h1>
			<form method="post" action="">
			    {% csrf_token %}
			    <table>
				<tr>
				    <td>{{ form.username.label_tag }}</td>
				    <td>{{ form.username }}</td>
				</tr>
				<tr>
				    <td>{{ form.password.label_tag }}</td>
				    <td>{{ form.password }}</td>
				</tr>
				</table>

				{% if error %}
					<p style="color:red">{{error}}</p>
				{% endif %}

			    <input type="submit" value="Register" />

			</form>
		</div>
	</body>
</html>